.section-title {
  font-size: 32px;
  font-weight: bold;
}

.section-subtitle {
  font-size: 16px;
  color: gray;
}

body {
  margin: 0;
  padding: 0;
  color: black;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main-header {
  font-size: 26px;
  margin: auto auto;
  font-family: "Meow Script", cursive;
  color: gold;
  text-decoration: none;
}

section {
  margin: 120px 0;
}

.container {
  padding: 30px;
}

.titles {
  margin-bottom: 50px;
}

.titles .section-title {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 40px;
  color: #222222;
}

.titles .section-subtitle {
  font-family: "Droid";
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  padding: 5x;
  color: gray;
}

.card .card-title {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: bold;
  color: #222222;
  padding: 5px;
}

.card .card-subtitle {
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: normal;
  color: gray;
  padding: 5px;
  line-height: 1.3em;
}

nav {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-bar {
  margin: auto auto;
}

nav .nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-bar ul .exitMenu {
  display: none;
}

nav .nav-bar ul li {
  margin: 0 10px;
  padding: 0 10px;
}

nav .nav-bar ul li a {
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 14px;
  color: #fff;
}

nav .mobile-menu {
  display: none;
}

nav .mobile-menu-exit {
  display: none;
}

.splash {
  position: relative;
  margin: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/images/Background Image.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/Background Image.png");
  background-size: cover;
  height: 100vh;
}

.splash .inner-splash {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.splash .inner-splash .subtitle {
  font-size: 40px;
  color: #fff;
  font-family: "Droid Serif";
  font-weight: normal;
}

.splash .inner-splash .title {
  font-size: 60px;
  color: #fff;
  font-family: "Montserrat";
  font-weight: bold;
}

.splash .inner-splash .btn-main {
  display: inline-block;
  margin-top: 30px;
  color: #fff;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: bold;
  background-color: gold;
  padding: 20px 60px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.splash .inner-splash a {
  text-decoration: none;
}

.splash .inner-splash .btn-main:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.services {
  margin: 120px auto;
  width: 70%;
}

.services .container .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .container .gallery .card img {
  padding: 5px;
}

.portfolio {
  margin: 120px auto;
  width: 70%;
}

.portfolio .container .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.portfolio .container .gallery .card {
  padding: 20px;
}

.portfolio .container .gallery .card .card-title {
  margin-top: 10px;
  padding-bottom: 0;
}

.portfolio .container .gallery .card .card-subtitle {
  padding: 0;
}

footer {
  margin: auto auto;
  width: 70%;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 70px;
}

footer .container .copyright {
  font-family: "Montserrat";
  font-size: 14px;
  color: #222222;
}

footer .container .copyright a {
  color: #222222;
  text-decoration: none;
}

footer .container .footer-elements {
  margin-left: 200px;
}

footer .container .footer-elements .socials img {
  margin-top: -15px;
}

@media only screen and (max-width: 1500px) {
  .splash {
    height: 70vh;
  }
  .splash .inner-splash .subtitle {
    font-size: 30px;
  }
  .splash .inner-splash .title {
    font-size: 50px;
  }
  .services {
    margin: 60px auto;
  }
  .portfolio {
    margin: 60px auto;
  }
}

@media only screen and (max-width: 1200px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
  footer .container .footer-elements {
    margin-left: 0;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .splash nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .splash nav .mobile-menu {
    position: fixed;
    display: block;
    margin: 0 10px;
    font-size: 32px;
    color: gold;
    right: 0;
  }
  .splash nav .hamburger {
    display: none;
  }
  .splash nav .nav-bar {
    display: none;
    position: fixed;
    z-index: 999;
    right: 0;
  }
  .splash nav .nav-bar ul {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .splash nav .nav-bar ul li {
    font-size: 48px;
  }
  .splash nav .nav-bar .mobile-menu-exit {
    color: white;
    font-size: 36px;
    margin: 5px 10px;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
  }
  .splash nav .nav-bar::after {
    display: block;
    content: " ";
    background-color: #222222;
    position: fixed;
    width: 100%;
    height: 307px;
    top: 0;
    opacity: 0.5;
    z-index: -100;
  }
  .splash .nav-bar.menu-btn {
    display: block;
  }
  .splash .inner-splash .subtitle {
    font-size: 16px;
  }
  .splash .inner-splash .title {
    font-size: 24px;
  }
  .splash .inner-splash .btn-main {
    font-size: 12px;
    padding: 10px 30px;
  }
  .services .container .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */