//GLOBAL
$font-dark: black;
$font-light: gray;
$font-logo: "Meow Script", cursive;
$font-color-menu: #fff;
$font-montserrat: "Montserrat";
$font-droid: "Droid";
$color-darker: #222222;

.section-title {
  font-size: 32px;
  font-weight: bold;
}

.section-subtitle {
  font-size: 16px;
  color: $font-light;
}

body {
  margin: 0;
  padding: 0;
  color: $font-dark;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.main-header {
  color: gold;
  font-size: 26px;
  margin: auto auto;
  font-family: $font-logo;
}
section {
  margin: 120px 0;
}

.container {
  padding: 30px;
}

.titles {
  .section-title {
    font-family: $font-montserrat;
    font-weight: bold;
    font-size: 40px;
    color: $color-darker;
  }

  .section-subtitle {
    font-family: $font-droid;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    padding: 5x;
    color: gray;
  }
  margin-bottom: 50px;
}

.card {
  .card-title {
    font-family: $font-montserrat;
    font-size: 18px;
    font-weight: bold;
    color: $color-darker;
    padding: 5px;
  }

  .card-subtitle {
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: normal;
    color: gray;
    padding: 5px;
    line-height: 1.3em;
  }
}

//============================================================================================================================================================================================

// NAVBAR section

nav {
  margin: 20px;
  display: flex;

  .nav-bar {
    margin: auto auto;
  }

  ul {
    display: row;
    display: flex;
    li {
      direction: row;
      margin: 0 10px;
      padding: 0 10px;
      a {
        font-family: $font-montserrat;
        font-weight: normal;
        font-size: 14px;
        color: $font-color-menu;
      }
    }
  }
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/Background Image.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

//SPLASH SECTION
.splash {
  margin: 300px 0 400px 0;
  .inner-splash {
    .subtitle {
      font-size: 40px;
      color: $font-color-menu;
      font-family: "Droid Serif";
      font-weight: normal;
    }
    .title {
      font-size: 75px;
      color: $font-color-menu;
      font-family: $font-montserrat;
      font-weight: bold;
    }

    .btn-main {
      display: inline-block;
      margin-top: 30px;
      color: $font-color-menu;
      font-family: $font-montserrat;
      font-size: 18px;
      font-weight: bold;
      background-color: gold;
      padding: 20px 60px;
    }
  }
}

//SERVICES SECTION

.services {
  margin: auto auto;
  width: 70%;
  .container {
    .gallery {
      display: flex;
      .card {
        img {
          padding: 5px;
        }
      }
    }
  }
}

//PORTFOLIO SECTION

.portfolio {
  margin: 120px auto;
  width: 70%;
  .container {
    .gallery {
      display: flex;
      .card {
        width: 33.3333%;
        padding: 10px;
        .card-title {
          margin-top: 10px;
          padding-bottom: 0;
        }
        .card-subtitle {
          padding: 0;
        }
      }
    }
  }
}

// FOOTER
footer {
  margin: auto auto;
  width: 70%;
  .container {
    display: flex;
    margin-left: 70px;

    .copyright {
      font-family: $font-montserrat;
      font-size: 14px;
      color: $color-darker;
    }

    .footer-elements {
      margin-left: 200px;
      .socials {
        img {
          margin-top: -15px;
        }
      }
    }
  }
}
